body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

/* carousel */

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
}

.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
}

@media (max-width: 700px) {
    .carousel-item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }  
}

/* main */

.main-content .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.main-content .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.main-content .col-lg-4 img{
    width: 140px;
    height: 140px;
}

.main-content .feature .col-md-5 img{
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
}

.main-content .feature-heading {
    font-size: 50px;
    letter-spacing: -.05rem;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .main-content .feature .col-md-5 img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }      
}

@media (min-width: 700px) and (max-width: 1024px) {
    .main-content .feature .col-md-5 img{
        width: 100%;
        height: 320px;
        object-fit: cover;
    }      
}

.main-content .divider {
    margin: 5rem 0;
}

/* custom card */

.container-custom-card{
    display: flex;
    flex-direction: row;
}

.container-custom-card .col-md-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 700px) {
    .container-custom-card .col-md-4:not(:last-child){
        margin-bottom: 20px;
        border-bottom: 2px solid #efefef;
    } 
}

.container-custom-card .col-md-4 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.container-custom-card .col-md-4 img{
    width: 140px;
    height: 140px;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    footer{
        justify-content: center;
    }
}