.container{
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

.col-md-4{
    flex: 33.3%;
}

.col-md-12{
    flex: 100%;
}

.col-md-6{
    flex: 50%;
}

@media (max-width: 700px){
    .col-sm-4{
        flex: 33.3%;
    }
    
    .col-sm-12{
        flex: 100%;
    }
    
    .col-sm-6{
        flex: 50%;
    }
}